<?xml version="1.0" encoding="utf-8"?>
<DataTypes>

  <SpecialDataTypes>

    <DataType alias="Umbraco.MultipleMediaPicker" type="AST.ContentConveyor7.DataTypeConverters.MediaPickerDataTypeConverter, AST.ContentConveyor7" />
    <DataType alias="Umbraco.MultiNodeTreePicker" type="AST.ContentConveyor7.DataTypeConverters.MultiNodeTreePickerDataTypeConverter, AST.ContentConveyor7" />
    <DataType alias="Umbraco.ContentPickerAlias" type="AST.ContentConveyor7.DataTypeConverters.ContentPickerDataTypeConverter, AST.ContentConveyor7" />
    <DataType alias="Umbraco.DropDown" type="AST.ContentConveyor7.DataTypeConverters.DropdownListDataTypeConverter, AST.ContentConveyor7" />
    <DataType alias="Umbraco.TinyMCEv3" type="AST.ContentConveyor7.DataTypeConverters.RichTextEditorDataTypeConverter, AST.ContentConveyor7" /> 
    <DataType alias="Imulus.Archetype" type="AST.ContentConveyor7.DataTypeConverters.ArchetypeDataTypeConverter, AST.ContentConveyor7" /> 

  </SpecialDataTypes>

  <!--Used to determine compatibility - not particularly functional-->
  <OtherDataTypes>

    <DataType alias="Umbraco.ColorPickerAlias" name="Approved Color"/>
    <DataType alias="Umbraco.DateTime" name="Date Picker with time"/>
    <DataType alias="Umbraco.Date" name="Date Picker"/>
    <DataType alias="Umbraco.ImageCropper" name="Image Cropper"/>
    <DataType alias="Umbraco.Textbox" name="Textbox"/>
    <DataType alias="Umbraco.TextboxMultiple" name="Textbox multiple"/>
    <!--<DataType alias="" name="Multiple Textstring"/>-->
    <DataType alias="Umbraco.TrueFalse" name="True/False (Ja/Nej)"/>
    <!--<DataType alias="" name="Umbraco Usercontrol Wrapper"/>-->

  </OtherDataTypes>

</DataTypes>
